{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block title %}
  Edit Room
{% endblock %}

{% block body %}
  <h1>
    Edit Room
  </h1>

  {{
    include(
      'room/_form.html.twig',
      {
        button_label: 'Modifier'
      }
    )
  }}

  <div class="d-flex mt-5">
    <a href="{{ path('room_index') }}" class="btn btn-outline-warning mr-5">
      < Retourner à la liste
    </a>
    {{ include('room/_delete_form.html.twig') }}
  </div>
{% endblock %}
