<form method="post"
  action="{{
  path(
    'remove_favorite_' ~ type,
    {
      id: object.id
    }
  )
  }}">
  <input type="hidden"
    name="_token"
    value="{{ csrf_token('deleteFavorite' ~ object.id) }}" />
  <button class="ml-5 btn btn-danger">Supprimer des favoris</button>
</form>
